
<!-- <html>
<head>
    <title>My first website</title>
    <link rel="stylesheet" href="C:/Users/Aran/Desktop/TUD Work/Year 4/Final Year Project/Testing on Python 3.9/SkinCancerDetection-WebApp/src/static/css/style.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
</head> -->


{% extends "base.html" %}
{% block content %}
<body>
    <!-- <div class="banner">
        <div class="navbar">
            <img ID="logo" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/index">Test</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div> -->
        <div class="content">
            <h1>Check my Skin</h1>
            <p> Debating me breeding be answered an he. Spoil event was 
                words her off cause any. <br>Tears woman which no is world 
                miles woody.<br> Wished be do mutual except in effect answer.
                Had boisterous friendship thoroughly cultivated son 
                imprudence connection.<br> </p>
                <div>
                    <a href="/index">
                    <button type="button"><span></span>Take the Test</button>
                    </a>
                </div>
        </div>
        {% endblock %}

    <!-- </div> -->     
</body>
</html>

